main {
  min-height: 80vh;
}

.star-icon {
  color: #ff9900;
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: black; */
}

.success-stock-color {
  color: green;
  font-weight: 600;
}

.not-success-stock-color {
  color: red;
}
